<html>
	<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
	</head>
		<body>
			<div class = "jumbotron">	
				<div class = "container">
					<h1> Welcome to my One Month Python </h1>
					<p> My name is Nick Miller.  Co-founder of Philomena.  I built this project for <a href="http://www.twitter.com/nickrmiller0"> Philamena.io </a>
					. </p>
					<a href="{{ url_for('index') }}"> Back to Homepage.
					</a>
				</div>
			</div>
		</body>
</html>