<html>
	<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
	</head>
		<body>
			<div class = "jumbotron">	
				<div class = "container">
					{% if resturants %}
					<h2>  The top three resturants for {{ address }} are: </h1>
					<div class="row">
					  <div class="col-md-4">
					  	<div class="row">
					  	{{ resturants[0]["name"] }}
					  	</div>
					  	<div class="row">
					  		<img src = {{ resturants[0]["image"] }} >
					  	</div>
					  </div>	
					  <div class="col-md-4">
					  	<div class="row">
					  	{{ resturants[1]["name"] }}
					  	</div>
					  	<div class="row">
					  		<img src = {{ resturants[1]["image"] }} >
					  	</div>
					  </div>
					  <div class="col-md-4">
					  	<div class="row">
					  	{{ resturants[2]["name"] }}
					  	</div>
					  	<div class="row">
					  		<img src = {{ resturants[2]["image"] }} >
					  	</div>
					  </div>
					</div>
						<a href ="{{ url_for('index') }}"> Look up another address </a>
					{% else %}
						<h1> Where would you like resturant Recommendations? </h1>
						<form action="/" class="form-inline">
							<div class="form-group">
								<input type="text" name="address" placeholder="City, State" class="form-control">
							</div>	
							<input type="submit" value="Submit" class="btn btn-primary">
						</form>
					{% endif %}
					<div class="row">
						<a href="{{ url_for('about') }}"> About Us
						</a>
					</div>
				</div>
			</div>
		</body>
</html>